<div class="row">
	<div class="col-xs-12 col-sm-12"><h2 class="productTitle">Low Stock Items</h2></div>
</div>
<% if @products.count > 0 %>
	<%= form_tag(:action => 'low_stock_create') do %>
	<% @products.group_by(&:vendor_id).each do  |vendor, products| %>
		<table class="table">
			<tr>
				<th class="blueBg" colspan="8"><% if !vendor.blank? %><%= Vendor.find(vendor).name %><% else %>No Vendor<% end %></th>
			</tr>
			<tr>
				<th>Product Name</td>
				<th width="75">Stock</th>
				<th width="125">On Order</th>
				<th width="125">Re Order Level</th>
				<th width="70">Cost</th>
				<th width="70">Price</th>
				<th width="120">Re-Order QTY</th>
				<th width="200">Vendor</th>
			</tr>
			<% for p in products %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
				<td class=""><a href="/admin/view_inventory/<%= p.id %>"><%= p.name %></a></td>
				<td class=""><%= p.stock %></td>
				<td class=""><%= p.on_order %></td>
				<td class=""><%= p.reorder_level %></td>
				<td class=""><%= number_to_currency p.cost %></td>
				<td class=""><%= number_to_currency p.price %></td>
				<td class="" style="padding:4px;"><%= text_field("item", "#{p.id}", :value => p.adaquate_level, :style => "width:100px;") -%></td>
				<td class=""><%= p.vendor.name unless vendor == nil%></td>
			</tr>
			<% end %>
		</table>
	<% end %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 text-right"><%= submit_tag('Create Purchase Orders', :class => "buttons")%></div>
	</div>
	<% end %>
<% else %>
	<div style="background-color:#cccccc;color:#111111;padding:10px;">
		<center><strong>No Low Stock Items Found</strong></center><br><br>
		You can create a new purchase order or <a href="/admin/purchase_orders">view existing purchase orders</a>
	</div>
<% end %>