<div class="row header">
	<div class="col-xs-12 col-sm-8"><h4 class="productTitle">Returns</h4></div>
</div>
<div class="row shadded-bg cell hidden-xs">
	<div class="col-lg-2 col-md-2 col-sm-5">Store</div>
	<div class="col-lg-2 col-md-2 hidden-sm">Employee</div>
	<div class="col-lg-3 col-md-2 col-sm-3 hidden-sm ">Time ( <%= (Time.now.in_time_zone(Time.zone)).strftime("%Z") %> )</div>
	<div class="col-lg-2 col-md-2 col-sm-2">Total</div>
	<div class="col-lg-2 col-md-2 col-sm-2">Status</div>
	<div class="col-lg-1 col-md-2 col-sm-3 text-right"></div>
</div>
	<% for ret in @returns %>
		<div class="row cell">
			<div class="col-lg-2 col-md-2 col-sm-5 col-xs-6"><%= ret.store_name %></div>
			<div class="col-lg-2 col-md-2 hidden-sm col-xs-6"><a href="/admin/employee/<%= ret.employee_id %>"><%= ret.employee_name.titleize %></a></div>
			<div class="col-lg-3 col-md-2 col-sm-3 hidden-sm col-xs-6"><%= ret.created_at.strftime("%b %d, %Y") %> (<%= ret.created_at.strftime("%I:%M %p") %>)</div>
			<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"><%= number_to_currency ret.total_refunded %></div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><%= ret.status %></div>
			<div class="col-lg-1 col-md-2 col-sm-3 col-xs-12 text-right"><a href="/admin/return/<%= ret.id %>" class="btn btn-primary btn-sm btn-xs-full">Details</a></div>
		</div>
	
	
	
	
	<% end %>


