<table class="standard_table" cellspacing="1" cellpadding="0">
	<tr>
		<td colspan="4">
			<h2>All Sales</h2>
		</td>
		<td colspan="4"></td>
	</tr>
	<tr>
		<td class="table_heading">Company </td>
		<td class="table_heading">Store </td>
		<td class="table_heading" style="text-align: center;">Employee</td>
		<td class="table_heading" style="text-align: center;">Time ( <%= (Time.now.in_time_zone(Time.zone)).strftime("%Z") %> )</td>
		<td class="table_heading" style="text-align: center;">Total</td>
		<td class="table_heading" style="text-align: center;">Customer</td>
		<td class="table_heading"></td>
	</tr>
	<% for s in @sales %>
		<tr class="<%= cycle('oddrow', 'evenrow') %>">
			<td class="row"><%= s.company.company_name %></td>
			<td class="row"><%= s.store_name %></td>
			<td width="150" class="row" style="text-align: center;"><a href="/admin/view_employee/<%= s.employee_id %>"> <%= s.employee_name %> </a></td>
			<td width="150" class="row" style="text-align: center;"><%= s.created_at.strftime("%b %d, %Y") %><br><%= s.created_at.strftime("%I:%M %p") %></td>
			<td class="row" style="text-align: center; text-align: center;"><%= number_to_currency s.total %></td>
			<td class="row" style="text-align: center;"><a href="/admin/view_customer/<%= s.customer_id %>"><%= s.customer_name -%></a></td>
			<td class="row" width="120" style="text-align: center;"><a href="/admin/view_sale/<%= s.id %>" class="buttons">Details</a></td>
		</tr>
	<% end %>
</table>
<%= will_paginate @sales %>